.heading-underline {
  @include partly-underlined(4px, -3px, $medium-gray);
  position: relative;

  &:after {
    width: 0;
    animation: underline ease-out 0.3s 1s forwards  ;
  }
}

@keyframes underline {
  to {
    width: 100%;
  }
}
