.entrytext {
  font-family: $heading-font-family;
  font-size: $font-size-md;
  margin-bottom: $spacing-lg;
  //to force same line height despite bigger letters in title
  line-height: 1.6em;

  &__title {
    @include partly-underlined(5px, 3px, $blue);
  }

  //to move both texts together incl all by wp added p tags.
  p {
    display: inline;
  }



}
