.footer {
  margin-top: $spacing-xxl;
  font-family: $heading-font-family;
  background-color: $medium-gray;
  color: $offwhite;

  &__support {
    background-color: $blue;
    padding-top: $spacing-xxl;
    padding-bottom: $spacing-xxl;
  }

  &__newsletter {
    @include span-columns(8 of 8);
    border: solid 4px $light-blue;
    margin-bottom: $spacing-lg;
    padding-top: $spacing-lg;
    padding-bottom: $spacing-lg;
    position: relative;

    //Newsletter abonnieren text
    &:before {
      content: "Newsletter abonnieren";
      position: absolute;
      left: $spacing-xs;
      top: -15%;
      padding: 0 $spacing-xxxs;
      font-family: $heading-font-family;
      font-weight: 700;
      font-size: $font-size-lg;
      background: $blue;
      color: $light-blue;

      @include media($small-medium-screen) {
        top: -25%;
        left: $spacing-base;
        padding: 0 $spacing-base;
      }

      @include media($medium-screen) {
        left: $spacing-lg;
        padding: 0 $spacing-md;
      }

      @include media($large-screen) {
        left: $spacing-xl;
        padding: 0 $spacing-lg;
      }
    }
  }

  &__input[type=email] {
    @include span-columns(6 of 8);
    @include shift(1);
    background-color: $light-blue;
    border: solid 3px $light-blue;
    margin-bottom: 0;

    @include media($small-medium-screen) {
      @include span-columns(3 of 8);
      @include shift(1);
    }

    @include media($large-screen) {
      @include span-columns(4 of 8);
      @include shift(1);
    }

    &:hover {
      border-color: darken($light-blue, 10%);
    }

    &:focus {
      border-color: $blue;
      box-shadow: $form-box-shadow-focus;
      outline: none;
    }
  }

  &__submit[type=submit] {
    @include span-columns(6 of 8);
    @include shift(1);
    margin-top: $spacing-md;
    border-color: $light-blue;
    color: $light-blue;
    transition: $hover-transition;

    @include media($small-medium-screen) {
      width: auto;
      margin: 0;
    }

    &:active,
    &:focus,
    &:hover {
      background-color: $light-blue;
      color: $medium-gray;
    }
  }

  &__support-button {
    width: 100%;
    margin-top: $spacing-md;
    @extend button;
    text-align: center;
    border: 3px solid $light-blue;
    color: $light-blue;

    @include media($small-screen) {
      width: 45%;
      margin-top: 0;
    }

    &:active,
    &:focus,
    &:hover {
      background-color: $light-blue;
      color: $medium-gray;
    }

    &:last-child {
      float:right;
    }
  }

  &__info {
    padding: $spacing-lg 0;

    @include media($small-medium-screen) {
      @include display(flex);
    }
  }

  &__copyright {
    margin: 0;
    font-size: 85%;

    @include media($small-medium-screen) {
      @include flex-grow(2);
    }
  }

  &__impressum {
    text-transform: uppercase;
    font-weight: 700;
    a {
      color: $offwhite;
    }
  }

  &__address {
    margin: 0;
  }
}
