.footer {
  font-family: $heading-font-family;
  padding: $spacing-lg 0;
  background-color: $medium-gray;
  color: $offwhite;

  &__content {
    @include display(flex);
    @include outer-container();
  }

  &__copyright {
    @include flex-grow(2);
    margin: 0;
    font-size: 85%;
  }

  &__impressum {
    text-transform: uppercase;
    font-weight: 700;
    a {
      color: $offwhite;
    }
  }

  &__address {
    margin: 0;
  }
}
