.gallery {
  @include display(flex);
  @include flex-wrap(wrap);

  &__item {
    @include span-columns(12 of 12);
    margin: 0;
    background-color: $white;
    margin-top: $spacing-md;

    @include media($medium-screen) {
      @include span-columns(6 of 12);
      @include omega(2n);
      @include display(flex);
      @include flex-direction(column);
    }

    @include media($large-screen) {
      @include omega-reset(2n);
      @include span-columns(4 of 12);
      @include omega(3n);
      @include display(flex);
      @include flex-direction(column);
    }
  }

  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    // for object-fit polyfill:
    @include object-fit(cover);
    filter: grayscale(30%);
  }

  &__text {
    @include display(flex);
    @include flex-direction(column);
    @include flex-grow(2);
    padding: $spacing-sm $spacing-sm $spacing-md $spacing-sm;
  }

  &__caption {
    margin-top: $spacing-xs;
    margin-bottom: $spacing-xxxs;
    font-family: $heading-font-family;
    font-weight: 700;
    font-size: $font-size-md;
    color: $lighter-medium-gray;
  }

  &__function {
    margin-bottom: $spacing-md;
    margin-top: 0;
  }

  &__paragraph {
    @include flex(1 0 auto);
    font-style: italic;
  }

  svg {
    height: 0.42em;
    margin-bottom: 0.35em;
  }

  &__email {
    @include align-self(flex-start);
    //to stop making box bigger:
    height: 1.5em;
  }

}
