.header {
  position: relative;

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -#{$spacing-xs};
    width: 100px;

    @include media($small-screen) {
      width: 200px;
    }

    @include media($medium-screen) {
      width: 220px;
    }
  }
}
