.header {
  position: relative;
  height: 48px;
  background-color: $blue;

  .home & {
    background-image: url(../../img/transparent-square-tiles.png);
  }

  .single-ueberuns &,
  .single-aktivitaet &,
  .single-thema &,
  .page-template-content-unterstuetzung & {
    background-color: $red;
  }

  @include media($small-screen) {
    height: 100px;
  }

  @include media($medium-screen) {
    height: 0;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -#{$spacing-xs};
    width: 100px;

    @include media($small-screen) {
      width: 200px;
    }

    @include media($medium-screen) {
      width: 220px;
    }
  }
}
