.intro {
  background-color: $blue;
  background-image: url(../../img/transparent-square-tiles.png);
  color: $offwhite;
  margin-bottom: $spacing-xl;
  padding-top: 40%;

  @include media($medium-screen) {
    padding-top: 20%;
    height: calc(100vh - (4*#{$spacing-base});
  }

  &__content {
    padding-bottom: $spacing-xxl;
    font-family: $heading-font-family;
    font-size: $font-size-base;
    //to force same line height despite bigger letters in title

    text-align: center;

    @include media($medium-screen) {
      //to force same line height despite bigger letters in title
      font-size: $font-size-md;
      line-height: 1.7em;
    }
  }

  &__title {
    display: inline;
    margin: 0;
    // margin-left: -#{$spacing-lg};
    line-height: 1;
    font-size: $font-size-xl;
    @include partly-underlined(4px, 4px, $green);
    &:after {
      left: $spacing-sm;
    }
  }

  p {
    display: inline;
  }
}
