.intro {
  background-color: $blue;
  background-image: url(../../img/transparent-square-tiles.png);
  color: $offwhite;
  margin-bottom: $spacing-xl;
  //header heigt is 80px
  padding-top: 110px;
  padding-bottom: 30px;

  @include media($small-screen) {
    //header height is 120px
    padding-top: 150px;
  }

  @include media($medium-large-screen) {
    height: calc(100vh - (2*#{$spacing-base});
    // height of logo is 180px:
    padding-top: 180px;
    //to center the intro text:
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
  }

  &__content {
    font-family: $heading-font-family;
    font-size: $font-size-base;
    //to force same line height despite bigger letters in title
    text-align: left;

    @include media($medium-screen) {
      //to force same line height despite bigger letters in title
      font-size: $font-size-md;
      line-height: 1.7em;
    }
  }

  &__title {
    @include partly-underlined(2px,-3px, $green);
    display: inline-block;
    margin: 0;
    font-size: $font-size-md;
    font-weight: 600;
    line-height: 1;
    &:after {
      // left: $spacing-sm;
    }

    @include media($medium-screen) {
      @include partly-underlined(3px,-6px, $green);
      font-size: $font-size-lg;

      &:after {
        // left: $spacing-sm;
      }
    }

    &:first-letter{
      font-size: $font-size-md;
      font-weight: 500;
    }
  }

  p {
    display: inline;
  }

  a {
    color: $offwhite;
    font-weight: 700;
    @include link-underlined($offwhite);
  }
}
