.intro {
  background-color: $blue;
  background-image: url(../../img/transparent-square-tiles.png);
  color: $offwhite;
  margin-bottom: $spacing-xxl;
  padding-top: 20%;

  &__content {
    padding-bottom: $spacing-xxl;
    font-family: $heading-font-family;
    font-size: $font-size-md;
    //to force same line height despite bigger letters in title
    line-height: 1.7em;
  }

  &__title {
    display: inline;
    margin: 0;
    line-height: 1;
    font-size: $font-size-xl;
    @include partly-underlined(4px, 4px, $offwhite);
  }

  &__paragraph {
    display: inline;
  }
}
