// using polylang plugin selectors:

.language {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1;
  list-style: none;
  padding-left: 0;

  @include media($medium-screen) {
    padding-top: 15%;
    right: 0;
    margin: 0;

    &.fixed {
      position: fixed;
      right: $spacing-md;
      padding-top: $spacing-base;
    }
  }

  .current-lang a {
    color: $medium-gray !important;
    background-color: $light-gray;
    transition: all 0.2s ease-out;
    pointer-events: none;

    &:active,
    &:focus,
    &:hover {
      color: $medium-gray;
      background-color: $light-gray;
    }
  }

  a {
    display: inline-block;
    display: block;
    // to get the same padding than on the nav elements
    @include calc(padding, "#{$spacing-xs} - 2px");
    margin-bottom: $spacing-sm;
    border: $base-border;
    border-color: $light-gray;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $heading-font-family;
    color: $medium-gray !important;
    background-color: transparent;
    transition: all 0.2s ease-out;

    @include media($medium-screen) {
      display: block;
      @include calc(padding, "#{$spacing-sm} - 2px");
    }

    &:active,
    &:focus,
    &:hover {
      color: $medium-gray !important;
      background-color: $light-gray;
    }
  }
}
