.language {
  position: absolute;
  right: 0;
  margin-top: 10px;
  line-height: 1;

  @include media($medium-screen) {
    padding-top: 250px;
    right: 0;
    margin: 0;

    &.fixed {
      position: fixed;
      right: $spacing-base;
      padding-top: 0;
    }
  }

  &__item {
    display: inline-block;
    // to get the same padding than on the nav elements
    @include calc(padding, "#{$spacing-sm} - 2px");
    margin-bottom: $spacing-sm;
    border: $base-border;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $heading-font-family;
    color: $medium-gray;
    background-color: $offwhite;
    transition: all 0.2s ease-out;

    @include media($medium-screen) {
      display: block;
    }

    &:active,
    &:focus,
    &:hover {
      color: $offwhite;
      background-color: $medium-gray;
    }

    &--active {
      color: $offwhite;
      background-color: $medium-gray;
      transition: all 0.2s ease-out;

      &:active,
      &:focus,
      &:hover {
        color: $offwhite;
        background-color: $medium-gray;
      }
    }
  }
}
