// using polylang plugin selectors:

.language {
  float: right;
  list-style: none;
  padding-left: 0;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
  z-index: 10;

  @include media($medium-screen) {
    padding-top: 15%;
    right: 0;
    margin: 0;

    &.fixed {
      position: fixed;
      right: $spacing-md;
      padding-top: $spacing-base;
    }
  }

  .current-lang a {
    color: $offwhite;
    background-color: $medium-gray;
    border-color: $medium-gray;
    transition: all 0.2s ease-out;
    pointer-events: none;

    &:active,
    &:focus,
    &:hover {
      color: $medium-gray;
      background-color: $light-gray;
    }
  }

  .lang-item {
    display: inline-block;

    @include media($medium-screen) {
      display: block;
    }
  }

  a {
    padding: 6px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $heading-font-family;
    font-size: $font-size-sm;
    color: $medium-gray;
    background-color: $light-gray;
    transition: all 0.4s ease-out;

    @include media($medium-screen) {
      margin-bottom: $spacing-sm;
      @include calc(padding, "#{$spacing-sm} - 2px");
    }

    &:active,
    &:focus,
    &:hover {
      color: $offwhite;
      background-color: $medium-gray;
      border-color: $medium-gray;
    }
  }
}
