.main {
  padding-top: 120px;

  @include media($small-screen) {
    padding-top: 150px;
  }

  @include media($medium-large-screen) {
    padding-top: 250px;
  }

  .home & {
    padding-top: 0;
  }
}
