.menu-page {

  &__list {
    @include span-columns(5 of 8);
    padding-left: 0;
    list-style-type: none;
  }
  //
  &__link{
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 2;
    color: $light-blue;
    font-family: $heading-font-family;
    font-weight: 500;
    margin: $spacing-md 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &__item {
    position: relative;
    display: block;
    background-color: $blue;
    padding: $spacing-md;
    font-size: $font-size-md;
    transition: transform 0.2s ease-out;


    &:active,
    &:focus,
    &:hover {
      transform: translateX($spacing-xxs) translateY(-#{$spacing-xxs});

      svg {
        transform: translateX($spacing-xs);
      }
    }

    &--shadow {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: $medium-gray;
    }
  }


  &__arrow svg {
    height: 30px;
    width: 30px;
    position: absolute;
    right: $spacing-md;
    transition: transform 0.2s;
  }

}
