.nav {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;

  @include media($medium-screen) {
    //to push to viewport
    left: -#{$spacing-md};
    padding-top: 15%;
    width: auto;

    &.fixed {
      position: fixed;
      left: 0;
      padding-top: 0;
    }
  }

  // on small screens only
  &__menu-button {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: 5px;
    padding-top: 24px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    background-color: transparent;
    color: $offwhite;
    text-transform: uppercase;
    font-family: $heading-font-family;
    font-weight: 600;
    font-size: $font-size-sm;
    line-height: 1;
    text-align: center;

    @include media($small-screen) {
      padding-top: 40px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      margin-top: -34px;
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 8px;
      height: 2px;
      @include calc(width, "100% - 12px");
      background: $offwhite;
      transition: $hover-transition;

      @include media($small-screen) {
        @include calc(width, "100% - 30px");
        top: 20px;
        height: 4px;
      }
    }

  	&:after {
      content: "";
      position: absolute;
      display: block;
      top: 16px;
      height: 2px;
      @include calc(width, "100% - 12px");
      background: $offwhite;
      transition: $hover-transition;

      @include media($small-screen) {
        @include calc(width, "100% - 30px");
        top: 30px;
        height: 4px;
      }
    }

  	&.close {
  		&:before {
        transform: rotate(45deg);
        top: 12px;
        left: 12px;
        width: 20px;

        @include media($small-screen) {
          top: 20px;
          left: 20px;
          width: 25px;
        }
      }

  		&:after {
        transform: rotate(-45deg);
        top: 12px;
        left: 12px;
        width: 20px;

        @include media($small-screen) {
          top: 20px;
          left: 20px;
          width: 25px;
        }
      }
  	}

    @include media ($medium-screen) {
      display: none;
    }
  }

  &__list {
    list-style: none;
    clear: both;
    display: none;
    overflow: visible;
    padding: 0;
    margin-top: 60px;
    width: 100%;

    @include media($small-screen) {
      margin-top: 100px;
    }

    @include media ($medium-screen) {
      margin-top: 0;
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  &__menu-item {
    width: 100%;

    @include media($medium-screen) {
      min-width: 180px;
    }

    @include media($large-screen) {
      min-width: 220px;
    }

    a {
      display: block;
      width: 100%;
      padding-top: $spacing-sm;
      padding-bottom: $spacing-sm;
      padding-right: $spacing-base;
      padding-left: 10px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: $heading-font-family;
      line-height: 1;
      background: transparentize($medium-gray, 0.05);
      color: $offwhite;
      transition: $hover-transition;

      @include media($small-screen) {
        padding-left: 20px;
      }

      @include media($medium-screen) {
        display: inline-block;
        min-width: 180px;
        margin-bottom: 8px;
        padding-left: $spacing-lg;
        background-color: $light-gray;
        color: $medium-gray;
      }

      @include media($large-screen) {
        min-width: 220px;
      }

      &:active,
      &:focus,
      &:hover {
        background-color: $dark-gray;
        color: $white;

        @include media($medium-screen) {
          background-color: $light-gray;
          color: $dark-gray;
        }
      }
    }

    > a {
      @include media($medium-screen) {
        &:active,
        &:focus,
        &:hover {
          width: 110%;
        }
      }
    }

    &--more {
      left: 0;
      position: relative;
      transition: all 0.2s ease-out;
      position: relative;

      //arrow pointing down for submenu
      > a:after {
        content: url(../../img/svg/inline-arrow-down-light.svg);
        position: absolute;
        margin-left: $spacing-xs;

        width: $spacing-xs;
        height: $spacing-xs;
        transition: $hover-transition;

        @include media($medium-screen) {
          content: url(../../img/svg/inline-arrow-down.svg);
          bottom: 50%;
        }
      }

      > a:hover:after {
        @include media($medium-screen) {
          bottom: 45%;
        }
      }

      //show submenu when hovering over li with submenus.
      &:focus > .nav__submenu,
      &:hover > .nav__submenu {
       display: block;
      }

      //keep submenu open when current menu items is clicked.
      &.current-menu-item {
        .nav__submenu {
          display: block;
        }
        a {
          padding: $spacing-xs;
          padding-right: $spacing-md;
          padding-left: $spacing-xl;
        }

        > a{
          padding-left: $spacing-lg;

          //arrow pointing down for submenu
          &:after {
            content: url(../../img/svg/inline-arrow-down-light.svg);
            display: inline-block;
            width: $spacing-xs;
            height: $spacing-xs;
            margin-left: $spacing-xs;
          }
        }
      }
    }
  }

  &__submenu {
    display: none;
    margin: 0;
    padding-left: 0;

    @include media($medium-screen) {
      margin-top: -8px;
    }

    li {
      display: block;
      padding-right: 0;

      @include media($medium-screen) {
        min-width: calc(220px - #{$spacing-md});
      }

      &.nav__menu-item--more > a {
        padding-left: $spacing-xl;
      }
    }

    a {
      display: inline-block;
      width: 100%;
      font-size: 85%;//
      font-weight: 600;
      margin-bottom: 0;
      padding: $spacing-xs;
      padding-right: $spacing-md;
      padding-left: $spacing-xl;

      @include media($medium-screen) {
        background-color: lighten($light-gray, 3%);
        color: lighten($medium-gray, 8%);
      }
    }

    &:last-child {
      @include media($medium-screen) {
        margin-bottom: 8px;
      }
    }

    //subsubmenu
    .nav__submenu {
      margin-top: 0;
      a {
        font-size: 75%;
        padding-left:  modular-scale(4);

        @include media($medium-screen) {
          background-color: lighten($light-gray, 6%);
          color: lighten($medium-gray, 10%);
          &:hover {
            background-color: $light-gray;
            color: $dark-gray;
          }
        }
      }
    }
  }
}


//use wp classes for targeting active links
.current-menu-item > a {
  pointer-events: none;
}

.current-menu-item > a {
  background-color: $medium-gray;
  color: $offwhite;
}

.current-menu-ancestor > .nav__submenu {
  display: block;
}
