.nav {
  position: absolute;
  width: 45%;
  z-index: 10;

  @include media($small-screen) {
    width: 40%;
  }

  @include media($medium-screen) {
    //to push to viewport
    left: -#{$spacing-base};
    padding-top: 15%;
    width: auto;

    &.fixed {
      position: fixed;
      left: 0;
      padding-top: 0;
    }
  }

  // on small screens only
  &__menu-button {
    display: inline-block;
    position: relative;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: $medium-gray;
    color: $offwhite;
    text-transform: uppercase;
    font-family: $heading-font-family;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    @include media($small-screen) {
      padding-top: 40px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
    }

    &:active,
    &:focus,
    &:hover {
      background-color: $dark-gray;
      color: $white;
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 10px;
      height: 3px;
      @include calc(width, "100% - 20px");
      background: $offwhite;
      transition: $hover-transition;

      @include media($small-screen) {
        @include calc(width, "100% - 30px");
        top: 20px;
        height: 4px;
      }
    }

  	&:after {
      content: "";
      position: absolute;
      display: block;
      top: 20px;
      height: 3px;
      @include calc(width, "100% - 20px");
      background: $offwhite;
      transition: $hover-transition;

      @include media($small-screen) {
        @include calc(width, "100% - 30px");
        top: 30px;
        height: 4px;
      }
    }

  	&.close {
  		&:before {
        transform: rotate(45deg);
        top: 15px;
        left: 18px;
        width: 20px;

        @include media($small-screen) {
          top: 20px;
          left: 25px;
          width: 25px;
        }
      }

  		&:after {
        transform: rotate(-45deg);
        top: 15px;
        left: 18px;
        width: 20px;

        @include media($small-screen) {
          top: 20px;
          left: 25px;
          width: 25px;
        }
      }
  	}

    @include media ($medium-screen) {
      display: none;
    }
  }

  &__list {
    list-style: none;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    @include media ($medium-screen) {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  &__menu-item {
    width: 100%;

    @include media($medium-screen) {
      min-width: 180px;
    }

    @include media($large-screen) {
      min-width: 220px;
    }

    a {
      display: block;
      width: 100%;
      padding-top: $spacing-sm;
      padding-bottom: $spacing-sm;
      padding-right: $spacing-sm;
      padding-left: 10px;
      margin-bottom: $spacing-sm;
      font-weight: 700;
      text-transform: uppercase;
      font-family: $heading-font-family;
      line-height: 1;
      background-color: $medium-gray;
      color: $offwhite;
      transition: $hover-transition;

      @include media($small-screen) {
        padding-left: 15px;
      }

      @include media($medium-screen) {
        display: inline-block;
        min-width: 180px;
        padding-left: $spacing-lg;
        background-color: $light-gray;
        color: $medium-gray;
      }

      @include media($large-screen) {
        min-width: 220px;
      }

      &:active,
      &:focus,
      &:hover {
        background-color: $dark-gray;
        color: $white;

        @include media($medium-screen) {
          background-color: $light-gray;
          color: $dark-gray;
        }
      }
    }

    > a {
      @include media($medium-screen) {
        &:active,
        &:focus,
        &:hover {
          width: 110%;
        }
      }
    }

    &--more {
      left: 0;
      position: relative;
      transition: all 0.2s ease-out;

      //show submenu when hovering over li with submenus.
      &.current-menu-item {
        .nav__submenu {
          display: block;
        }
      }

      //arrow pointing down for submenu
      // > a:after {
      //   content: url(../../img/svg/arrow-down.svg);
      //   display: inline-block;
      //   width: 15px;
      //   height: 15px;
      //   padding-left: $spacing-base;
      // }
    }
  }

  &__submenu {
    display: none;
    margin: 0;
    padding-left: 0;

    li {
      display: block;
      padding-right: 0;
      margin-left: $spacing-base;


      @include media($medium-screen) {
        min-width: calc(220px - #{$spacing-base});
      }

      a {
        display: inline-block;
        width: 100%;
        font-size: 90%;
      }
    }
  }
}


//use wp classes for targeting active links
.current-menu-item > a {
  pointer-events: none;
}

.current-menu-item > a,
.current-menu-ancestor > a {
  background-color: $medium-gray;
  color: $offwhite;
}

.current-menu-ancestor > .nav__submenu {
  display: block;
}
