.article {
  //in order to move second line up to big first letter.
  p:first-child {
    margin: 0;
    &:first-letter {
      color: $red;
      font-size: $font-size-xxl;
      font-weight: 400;
      float: left;
      line-height: 75%;
      margin: .04em .12em 0 0;
    }
  }

  img {
    margin-top: $spacing-base;
    margin-bottom: $spacing-base;
    //to stop distorting them:
    height: auto;
    filter: grayscale(30%);
  }

  img.alignnone {
    display: block;
  }

  img.alignleft {
    width: 100%;
    @include media($small-screen) {
      float: left;
      width: auto;
      margin-right: $spacing-lg;
    }
  }

  img.alignright {
    width: 100%;
    @include media($small-screen) {
      float: right;
      width: auto;
      margin-left: $spacing-lg;
    }
  }

  img.aligncenter {
    width: 100%;
    @include media($small-screen) {
      display: block;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h2 {
    padding-top: $spacing-sm;
    margin-top: $spacing-sm;
    border-top: solid $light-gray 2px;
    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }

  h3 {
    color: $red;
    // margin-top: $spacing-sm;
  }
}
