.article {

  &.big-letter p:first-child {
    //in order to move second line up to big first letter.
    margin: 0;

    &:first-letter {
      color: $red;
      font-size: $font-size-xxl;
      font-weight: 400;
      float: left;
      line-height: 75%;
      margin: .04em .1em 0 0;
    }
  }

  h2 {
    //create separation line between different texts
    padding-top: $spacing-md;
    margin-top: $spacing-md;
    border-top: solid $light-gray 2px;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }

  //in order to have no space between h3 and h1 or h2 on the article page.
  h2 + h3 {
    margin-top: -#{$spacing-sm};
  }

  h1 + h3 {
    margin-top: -#{$spacing-xl};
  }

  img {
    margin-top: $spacing-base;
    margin-bottom: $spacing-base;
    //to stop distorting them:
    height: auto;
    filter: grayscale(30%);
  }

  //img classes from wp
  img.alignnone {
    display: block;
  }

  img.alignleft {
    width: 100%;

    @include media($small-screen) {
      float: left;
      width: auto;
      margin-right: $spacing-lg;
    }
  }

  img.alignright {
    width: 100%;

    @include media($small-screen) {
      float: right;
      width: auto;
      margin-left: $spacing-lg;
    }
  }

  img.aligncenter {
    width: 100%;

    @include media($small-screen) {
      display: block;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
