.support {
  &__title {
    display: inline-block;
    @include partly-underlined(5px, -1px, $medium-gray);
  }

  h3 {
    margin-bottom: 0;
  }

  &__form {
    @include span-columns(5 of 8);
  }

  &__address {
    label {
      margin-top: $spacing-md;
      // margin-bottom: 0;
      // padding-left: $spacing-base;
      // background-color: $red;
      // color: $offwhite;
      // text-transform: uppercase;
    }
  }

  input[type=submit]{
    width: 100%;
    background-color: $red;
    color: $offwhite;
    margin-top: $spacing-lg;
    transition: $hover-transition;

    &:hover,
    &:focus,
    &:active {
      background-color: $offwhite;
      color: $red;
    }
  }
}
