.support {
  &__title {
    display: inline-block;
  }

  h3 {
    margin-top: $spacing-xl;
    margin-bottom: $spacing-base;
  }

  &__form {
    @include span-columns(5 of 8);
  }

  &__address {
    margin-top: $spacing-xxl;
  }

  &__address-element {
    position: relative;

    label {
      width: 100%;
    	position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      transform: translateY(0);
    	overflow: hidden;
      padding-top: $spacing-sm;
      padding-left: $spacing-lg;
    	pointer-events: none;
      margin: 0;

      &.support__label {
        animation: move-label 0.2s forwards;
      }
    }

    input {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      margin-top: $spacing-xl;
    	background: transparent;
    	border: 2px solid;
    	color: $medium-gray;
    	transition: border-color 0.25s;

      &.input__focused {
        border-color: $red;
      }
    }
  }

  input[type=submit]{
    width: 100%;
    background-color: $red;
    color: $offwhite;
    margin-top: $spacing-lg;
    transition: $hover-transition;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($red, 5%);
      border-color: darken($red, 5%);
    }
  }
}

@keyframes move-label {
  0% {
		transform: translateY(0);
    color: $medium-gray;
	}
	50% {
		transform: translateY(-50%);
		opacity: 0;
	}

	100% {
		transform: translateY(-#{$spacing-xl});
    opacity: 1;
    padding-left: 0;
    color: $red;
    font-weight: 700;
	}
}
