.support {
  &__title {
    display: inline-block;
    @include partly-underlined(5px, -1px, $medium-gray);
  }

  &__address {
    @include span-columns(5 of 8);

    input {
      margin-bottom: $spacing-lg;
    }
  }



  input[type=submit]{
    width: 100%;
    background-color: $red;
    color: $offwhite;
  }
}
