fieldset {
  background-color: lighten($base-border-color, 10%);
  border: $base-border;
  margin: 0 0 $spacing-sm;
  padding: $spacing-base;
}

input,
label,
select {
  display: block;
  font-family: $heading-font-family;
  font-size: $font-size-base;
}

label {
  font-weight: 500;
  margin-bottom: $spacing-sm / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $offwhite;
  border: $base-border;
  border-color: $red;
  box-sizing: border-box;
  color: $medium-gray;
  font-family: $heading-font-family;
  font-size: $font-size-base;
  margin-bottom: $spacing-base / 2;
  padding: $spacing-sm $spacing-lg;
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: darken($red, 10%);
  }

  &:focus {
    border-color: $red;
    box-shadow: inset 0 1px 3px rgba(#000, 0.06), 0 0 5px adjust-color($red, $lightness: -5%, $alpha: -0.3);
    outline: none;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $dark-gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $dark-gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $dark-gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: $dark-gray;
}


textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $spacing-sm / 2;
}

input[type="file"] {
  padding-bottom: $spacing-sm;
  width: 100%;
}

select {
  margin-bottom: $spacing-base;
  max-width: 100%;
  width: auto;
}

//style radio buttons: 
[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: $spacing-base;
  height: $spacing-base;
  border-radius: $spacing-base;
  border: 0.125em solid $white;
  box-shadow: 0 0 0 0.12em $red;
  margin-right: $spacing-sm;
  transition: 0.5s ease all;
}

[type="radio"]:checked + span:before {
  background: $red;
  box-shadow: 0 0 0 0.2em $red;
}

/* never forget focus styling */
[type="radio"]:focus + span:after {
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}

input::-webkit-input-placeholder {
 color: lighten($medium-gray, 20%);
 font-size: 90%;
}

input::-moz-placeholder {  /* Firefox 19+ */
 color: lighten($medium-gray, 20%);
}

input:-ms-input-placeholder {
 color: lighten($medium-gray, 20%);
}

//alert messages;
.wpcf7 {

  span.wpcf7-not-valid-tip {
    color: $red;
    font-weight: 600;
    font-family: $heading-font-family;
    padding: $spacing-xxs;
    text-align: center;
  }

  .wpcf7-validation-errors {
    border-color: $red;
  }

  .wpcf7-mail-sent-ok {
    border: none;
    width: 100%;
    font-family: $heading-font-family;
    text-align: center;
  }

  div.wpcf7-validation-errors {
    text-align: center;
    font-family: $heading-font-family;
    border: none;
    width: 100%;
  }

}
