ul,
ol {
  margin: 0;
  padding-left: $spacing-sm;

  li {
   list-style-position:inside
  }
}

dl {
  margin-bottom: $spacing-sm;

  dt {
    font-weight: bold;
    margin-top: $spacing-sm;
  }

  dd {
    margin: 0;
  }
}
