@mixin partly-underlined($height, $bottom, $color)  {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 80%;
    height: $height;
    left: 0;
    bottom: $bottom;
    background-color: $color;
  }
}

@mixin link-underlined($color) {
  color: $color;
  box-shadow: 0 0em  rgba($color,0) inset;
  transition: all 150ms ease-out;
  &:hover {
    padding-bottom: $spacing-xxxs;
    box-shadow: 0 -0.09em rgba($color,1) inset;
  }
}

// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// ------------------------------------------------------------
// Object Fit
// ------------------------------------------------------------

@mixin object-fit($fit: fill, $position: null){
  -o-object-fit: $fit;
     object-fit: $fit;
  @if $position {
	  -o-object-position: $position;
	     object-position: $position;
  	font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
  	font-family: 'object-fit: #{$fit}';
  }
}
