body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $body-font-size-sm;
  line-height: $base-line-height;

  @include media($small-screen) {
    font-size: $body-font-size-base;
  }

  @include media($large-screen) {
    font-size: $body-font-size-lg;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 $spacing-base;
}

h1 {
  font-weight: 700;
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-lg;
}

h3 {
  font-size: $font-size-md;
}

p {
  font-size: $font-size-base;
  margin: 0 0 $spacing-sm;
}

br {
  margin: 0 0 $spacing-sm;
}

a {
  position: relative;
  padding-bottom: $spacing-xxs;
  color: $blue;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus {
    outline: none;
  }
}

.footer a {
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $offwhite;
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-#{$spacing-xxs});
  }

  &:active,
  &:focus:after,
  &:hover:after {
    height: 2px;
    opacity: 1;
    transform: translateY(0px);
  }
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
