body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $body-font-size-sm;
  line-height: $base-line-height;

  @include media($small-screen) {
    font-size: $body-font-size-base;
  }

  @include media($large-screen) {
    font-size: $body-font-size-lg;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 $spacing-sm 0;
}

h1 {
  font-weight: 700;
  font-size: $font-size-xxl;
  letter-spacing: $letter-spacing-lg;
}

h2 {
  font-weight: 700;
  font-size: $font-size-lg;
}

h3 {
  font-weight: 600;
  font-size: $font-size-md;
}

p {
  font-size: $font-size-base;
  margin: 0 0 $spacing-sm;
}

br {
  margin: 0 0 $spacing-sm;
}

a {
  position: relative;
  font-weight: 600;
  color: $dark-gray;
  text-decoration: none;

  &:active,
  &:focus {
    outline: none;
  }
}

.news a {
  @include link-underlined($dark-gray);
  margin: 0;
  font-weight: 600;
}

.single-aktivitaet a {
  color: $red;
  font-weight: 600;
}
// .main a {
//   @include link-underlined($dark-gray);
//   margin: 0;
//   font-weight: 600;
//
//   .single-aktivitaet & {
//     color: $red;
//     @include link-underlined($red);
//   }
// }

.footer a {
  @include link-underlined($offwhite);
}


img,
picture {
  margin: 0;
  max-width: 100%;
}
