body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $body-font-size-sm;
  line-height: $base-line-height;

  @include media($small-screen) {
    font-size: $body-font-size-base;
  }

  @include media($large-screen) {
    font-size: $body-font-size-lg;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 $spacing-sm;
  letter-spacing: $letter-spacing-lg;
}

h1 {
  font-weight: 500;
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-lg;
}

h3 {
  font-size: $font-size-md;
}

p {
  font-size: $font-size-base;
  margin: 0 0 $spacing-sm;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($blue, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
