// Typography
$base-font-family: "rooney-web", serif;
$heading-font-family: "sofia-pro", sans-serif;


// Base Font Sizes for body, changing for different screen sizes
$body-font-size-sm: 0.8em;
$body-font-size-base: 1em;
$body-font-size-lg: 1.03em;

// Modular scale for different font headings
$modular-scale-base: 1em;

$font-size-sm: modular-scale(-1);
$font-size-base: modular-scale(0);
$font-size-md: modular-scale(1);
$font-size-lg: modular-scale(2);
$font-size-xl: modular-scale(3);
$font-size-xxl: modular-scale(4);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-z-index: 0;

//Spacing with modular scales
$spacing-xs: modular-scale(-2);
$spacing-sm: modular-scale(-1);
$spacing-base: modular-scale(0);
$spacing-md: modular-scale(1);
$spacing-lg: modular-scale(2);
$spacing-xl: modular-scale(3);
$spacing-xxl: modular-scale(5);


// Colors
$green: #CCCC00;
$red: #E06767;
$blue: #497FA3;

$dark-gray: #313336;
$medium-gray: #565B5E;
$light-gray: #E6EBF0;
$offwhite: #F5F5FA;
$white: #fff;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;

// Border
$base-border-color: $dark-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($blue, $lightness: -5%, $alpha: -0.3);
