// Typography

//weights installed: 400 / 400 italic / 500 / 700
$base-font-family: "rooney-web", serif;

//weights installed: 400 / 500 / 600 / 600 italic / 700
$heading-font-family: "sofia-pro", sans-serif;


// Base Font Sizes for body, changing for different screen sizes
$body-font-size-sm: 0.8em;
$body-font-size-base: 1em;
$body-font-size-lg: 1.03em;

// Modular scale for different font headings
$modular-scale-base: 1em;

$font-size-sm: modular-scale(-1);
$font-size-base: modular-scale(0);
$font-size-md: modular-scale(1);
$font-size-lg: modular-scale(2);
$font-size-xl: modular-scale(3);
$font-size-xxl: modular-scale(4);
$font-size-xxxl: modular-scale(5);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.4;


// Other Sizes
$base-border-radius: 0;
$base-z-index: 0;
$letter-spacing-lg: 0.03em;

//Spacing with modular scales
$spacing-xxxs: modular-scale(-7);
$spacing-xxs: modular-scale(-3);
$spacing-xs: modular-scale(-2);
$spacing-sm: modular-scale(-1);
$spacing-base: modular-scale(0);
$spacing-md: modular-scale(1);
$spacing-lg: modular-scale(2);
$spacing-xl: modular-scale(3);
$spacing-xxl: modular-scale(5);


// Colors
$green: #CCCC23;
$red: #CC4E4B;
$red: #CF5D55;
$light-red: lighten($red, 37%);
$blue: #3691A3;
$blue: #6096B5;
$blue: #4E81A3;
$blue: #3B86A3;
$light-blue: lighten($blue, 50%);

$dark-gray: #3E454A;
$dark-gray: #393D40;

//logo gray
$medium-gray: #565B5F;

$lighter-medium-gray: lighten($medium-gray, 6%);

$light-gray: #E4E9ED;
$light-gray: #E6EAED;
$light-gray: #E8EBED;

$offwhite: #F9FBFC;
$offwhite: #F7F9FA;

$white: #fff;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$base-font-color: $medium-gray;

// Border
$base-border-color: $medium-gray;
$base-border-width: 2px;
$base-border: 3px solid $base-border-color;


// Hover transition
$hover-transition: all 0.1s ease-out;
