html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, .footer__support-button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button, .footer__support-button {
  overflow: visible; }

button, .footer__support-button,
select {
  text-transform: none; }

button, .footer__support-button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], [disabled].footer__support-button,
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, .footer__support-button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, .footer__support-button, input[type="button"], input[type="reset"], input[type="submit"],
button,
.footer__support-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-radius: 0;
  border: #497FA3 3px solid;
  color: #565B5E;
  cursor: pointer;
  display: inline-block;
  font-family: "sofia-pro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding: 0.7501875469em 1.776889em;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, .footer__support-button:hover, button:focus, .footer__support-button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  .footer__support-button:hover,
  button:focus,
  .footer__support-button:focus {
    background-color: #b6c5d3;
    color: #fff; }
  button:disabled, .footer__support-button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled,
  .footer__support-button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #6e7579;
  border: 2px solid #565B5E;
  margin: 0 0 0.7501875469em;
  padding: 1em; }

input,
label,
select {
  display: block;
  font-family: "sofia-pro", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.3750937734em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #F5F5FA;
  border: #497FA3;
  border-radius: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #565B5E;
  font-family: "sofia-pro", sans-serif;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 0.7501875469em 1.776889em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #3e4143; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #497FA3;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(65, 113, 145, 0.7);
    outline: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #313336; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #313336; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #313336; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #313336; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.3750937734em; }

input[type="file"] {
  padding-bottom: 0.7501875469em;
  width: 100%; }

select {
  margin-bottom: 1em;
  max-width: 100%;
  width: auto; }

::-webkit-input-placeholder {
  color: #45454A; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #45454A; }

:-ms-input-placeholder {
  color: #45454A; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.7501875469em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.7501875469em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.7501875469em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #313436;
  font-weight: 600;
  padding: 0.7501875469em 0;
  text-align: left; }

td {
  border-bottom: 2px solid #565B5E;
  padding: 0.7501875469em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #313336;
  font-family: "rooney-web", serif;
  font-size: 0.8em;
  line-height: 1.5; }
  @media screen and (min-width: 30em) {
    body {
      font-size: 1em; } }
  @media screen and (min-width: 74em) {
    body {
      font-size: 1.03em; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "sofia-pro", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.7501875469em; }

h1 {
  font-weight: 700;
  font-size: 2.368593037em; }

h2 {
  font-size: 1.776889em; }

h3 {
  font-size: 1.333em; }

p {
  font-size: 1em;
  margin: 0 0 0.7501875469em; }

a {
  position: relative;
  padding-bottom: 0.237601541em;
  color: #497FA3;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus {
    outline: none; }

.footer a:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #F5F5FA;
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-0.237601541em); }

.footer a:active, .footer a:focus:after, .footer a:hover:after {
  height: 2px;
  opacity: 1;
  transform: translateY(0px); }

img,
picture {
  margin: 0;
  max-width: 100%; }

body {
  background-color: #fff; }
  body .body__wrapper {
    background-color: #F5F5FA;
    margin: 1em; }

.header {
  position: relative;
  height: 1px; }
  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -0.5627813555em;
    width: 180px; }

.navigation {
  position: fixed;
  left: 0;
  top: 250px; }
  .navigation__menu a {
    display: inline-block;
    width: 250px;
    padding-top: 0.5627813555em;
    padding-bottom: 0.5627813555em;
    padding-left: 1.776889em;
    margin-bottom: 0.7501875469em;
    background-color: #E6EBF0;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "sofia-pro", sans-serif;
    color: #565B5E;
    transition: all 0.1s ease-out; }
    .navigation__menu a:active, .navigation__menu a:focus, .navigation__menu a:hover {
      color: #313336;
      width: 270px; }

.language {
  position: fixed;
  right: 1em;
  top: 250px; }
  .language__item {
    display: block;
    padding: 0.237601541em;
    margin-bottom: 0.7501875469em;
    border: 2px solid #565B5E;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "sofia-pro", sans-serif;
    color: #565B5E;
    background-color: #F5F5FA;
    transition: all 0.2s ease-out; }
    .language__item:active, .language__item:focus, .language__item:hover {
      color: #F5F5FA;
      background-color: #565B5E; }
    .language__item--active {
      color: #F5F5FA;
      background-color: #565B5E;
      transition: all 0.2s ease-out; }
      .language__item--active:active, .language__item--active:focus, .language__item--active:hover {
        color: #F5F5FA;
        background-color: #565B5E; }

.main {
  margin-top: 300px; }

.footer {
  font-family: "sofia-pro", sans-serif;
  background-color: #565B5E;
  color: #F5F5FA; }
  .footer__support {
    background-color: #497FA3;
    padding-top: 4.2087269129em;
    padding-bottom: 4.2087269129em; }
  .footer__newsletter {
    float: left;
    display: block;
    margin-right: 4.6511627907%;
    width: 100%;
    border: solid 4px #e0eaf1;
    margin-bottom: 1.776889em;
    padding-top: 1.776889em;
    padding-bottom: 1.776889em;
    position: relative; }
    .footer__newsletter:last-child {
      margin-right: 0; }
    .footer__newsletter:before {
      content: "Newsletter abonnieren";
      position: absolute;
      left: 2.368593037em;
      top: -25%;
      padding: 0 1.776889em;
      font-family: "sofia-pro", sans-serif;
      font-weight: 700;
      font-size: 1.776889em;
      background: #497FA3;
      color: #e0eaf1; }
  .footer__input[type=email] {
    float: left;
    display: block;
    margin-right: 4.6511627907%;
    width: 53.488372093%;
    margin-left: 11.6279069767%;
    background-color: #e0eaf1;
    border: solid 3px #e0eaf1;
    margin-bottom: 0; }
    .footer__input[type=email]:last-child {
      margin-right: 0; }
    .footer__input[type=email]:hover {
      border-color: #bdd3e1; }
    .footer__input[type=email]:focus {
      border-color: #497FA3;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(65, 113, 145, 0.7);
      outline: none; }
  .footer__submit[type=submit] {
    float: left;
    display: block;
    margin-right: 4.6511627907%;
    width: 18.6046511628%;
    border-color: #e0eaf1;
    color: #e0eaf1;
    transition: all 0.1s ease-out; }
    .footer__submit[type=submit]:last-child {
      margin-right: 0; }
    .footer__submit[type=submit]:active, .footer__submit[type=submit]:focus, .footer__submit[type=submit]:hover {
      background-color: #e0eaf1;
      color: #565B5E; }
  .footer__support-button {
    width: 45%;
    text-align: center;
    border: 3px solid #e0eaf1;
    color: #e0eaf1; }
    .footer__support-button:active, .footer__support-button:focus, .footer__support-button:hover {
      background-color: #e0eaf1;
      color: #565B5E; }
    .footer__support-button:last-child {
      float: right; }
  .footer__info {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1.776889em 0; }
  .footer__copyright {
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    flex-grow: 2;
    -ms-flex-positive: 2;
    margin: 0;
    font-size: 85%; }
  .footer__impressum {
    text-transform: uppercase;
    font-weight: 700; }
    .footer__impressum a {
      color: #F5F5FA; }
  .footer__address {
    margin: 0; }

.entrytext {
  font-family: "sofia-pro", sans-serif;
  font-size: 1.333em;
  margin-bottom: 1.776889em;
  line-height: 1.6em; }
  .entrytext p {
    display: inline; }
  .entrytext__title {
    font-size: 1.776889em;
    font-weight: 600;
    position: relative; }
    .entrytext__title:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #497FA3;
      height: 6px;
      width: 75%; }

.outer-container {
  max-width: 74em;
  margin-left: auto;
  margin-right: auto; }
  .outer-container::after {
    clear: both;
    content: "";
    display: table; }

.wrapper {
  float: left;
  display: block;
  margin-right: 3.4482758621%;
  width: 74.1379310345%;
  margin-left: 25.8620689655%; }
  .wrapper:last-child {
    margin-right: 0; }

/*# sourceMappingURL=main.css.map */