html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, .footer__support-button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button, .footer__support-button {
  overflow: visible; }

button, .footer__support-button,
select {
  text-transform: none; }

button, .footer__support-button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], [disabled].footer__support-button,
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, .footer__support-button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, .footer__support-button, input[type="button"], input[type="reset"], input[type="submit"],
button,
.footer__support-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border: 3px solid #565B5F;
  border-color: #CF5D55;
  color: #565B5F;
  cursor: pointer;
  display: inline-block;
  font-family: "sofia-pro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.7501875469em 1.776889em;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, .footer__support-button:hover, button:focus, .footer__support-button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  .footer__support-button:hover,
  button:focus,
  .footer__support-button:focus {
    background-color: #bdc6cb;
    color: #fff; }
  button:disabled, .footer__support-button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled,
  .footer__support-button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #6e757a;
  border: 3px solid #565B5F;
  margin: 0 0 0.7501875469em;
  padding: 1em; }

input,
label,
select {
  display: block;
  font-family: "sofia-pro", sans-serif;
  font-size: 1em;
  border-radius: 0; }

label {
  font-weight: 500;
  margin-bottom: 0.3750937734em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #F7F9FA;
  border: 3px solid #565B5F;
  border-color: #565B5F;
  box-sizing: border-box;
  color: #565B5F;
  font-family: "sofia-pro", sans-serif;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 0.7501875469em 1.776889em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #bc3e35; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #CF5D55;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 2px rgba(201, 74, 65, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.3750937734em; }

input[type="file"] {
  padding-bottom: 0.7501875469em;
  width: 100%; }

select {
  margin-bottom: 1em;
  max-width: 100%;
  width: auto; }

[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.12em #CF5D55;
  margin-right: 0.7501875469em;
  transition: 0.5s ease all; }

[type="radio"]:checked + span:before {
  background: #CF5D55;
  box-shadow: 0 0 0 0.2em #CF5D55; }

/* never forget focus styling */
[type="radio"]:focus + span:after {
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em; }

input::-webkit-input-placeholder {
  color: #888e93;
  font-size: 90%;
  font-weight: 600;
  font-style: italic; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #888e93;
  font-size: 90%;
  font-weight: 600;
  font-style: italic; }

input:-ms-input-placeholder {
  color: #888e93;
  font-size: 90%;
  font-weight: 600;
  font-style: italic; }

.wpcf7 {
  font-family: "sofia-pro", sans-serif; }
  .wpcf7 span.wpcf7-not-valid-tip {
    color: #CF5D55;
    font-weight: 600;
    text-align: center; }
  .wpcf7 .wpcf7-validation-errors {
    border-color: #CF5D55; }
  .wpcf7 .wpcf7-mail-sent-ok {
    border: none;
    width: 100%;
    text-align: center; }
  .wpcf7 div.wpcf7-validation-errors {
    text-align: center;
    border: none;
    width: 100%; }
  .wpcf7 div.wpcf7-response-output {
    margin: 1em auto; }

ul,
ol {
  margin: 0;
  padding-left: 0.7501875469em; }
  ul li,
  ol li {
    list-style-position: inside; }

dl {
  margin-bottom: 0.7501875469em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.7501875469em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.7501875469em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #323537;
  font-weight: 600;
  padding: 0.7501875469em 0;
  text-align: left; }

td {
  border-bottom: 3px solid #565B5F;
  padding: 0.7501875469em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #565B5F;
  font-family: "rooney-web", serif;
  font-size: 0.8em;
  line-height: 1.5; }
  @media screen and (min-width: 46.5em) {
    body {
      font-size: 1em; } }
  @media screen and (min-width: 74em) {
    body {
      font-size: 1.03em; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "sofia-pro", sans-serif;
  line-height: 1.4;
  margin: 0 0 0.7501875469em 0; }

h1 {
  font-weight: 700;
  font-size: 3.1573345183em;
  letter-spacing: 1px; }

h2 {
  font-weight: 700;
  font-size: 1.776889em; }

h3 {
  font-weight: 600;
  font-size: 1.333em; }

p {
  font-size: 1em;
  margin: 0 0 0.7501875469em; }

br {
  margin: 0 0 0.7501875469em; }

a {
  position: relative;
  font-weight: 500;
  color: #393D40;
  text-decoration: none; }
  a:active, a:focus {
    outline: none; }

.news a {
  margin: 0;
  font-weight: 600; }
  .news a:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #393D40;
    opacity: 0;
    transition: all 0.2s;
    transform: translateY(-0.237601541em); }
  .news a:active, .news a:focus:after, .news a:hover:after {
    height: 2px;
    opacity: 1;
    transform: translateY(0px); }

.footer a:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #F7F9FA;
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-0.237601541em); }

.footer a:active, .footer a:focus:after, .footer a:hover:after {
  height: 2px;
  opacity: 1;
  transform: translateY(0px); }

img,
picture {
  margin: 0;
  max-width: 100%; }

.outer-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .outer-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 30em) {
    .outer-container {
      max-width: 95%;
      margin-left: auto;
      margin-right: auto; }
      .outer-container::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (min-width: 37.5em) {
    .outer-container {
      max-width: 37.5em;
      margin-left: auto;
      margin-right: auto; }
      .outer-container::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (min-width: 46.5em) {
    .outer-container {
      max-width: 46.5em;
      margin-left: auto;
      margin-right: auto; }
      .outer-container::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (min-width: 56.25em) {
    .outer-container {
      max-width: 56.25em;
      margin-left: auto;
      margin-right: auto; }
      .outer-container::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (min-width: 74em) {
    .outer-container {
      max-width: 74em;
      margin-left: auto;
      margin-right: auto; }
      .outer-container::after {
        clear: both;
        content: "";
        display: table; } }

.wrapper {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .wrapper:last-child {
    margin-right: 0; }
  @media screen and (min-width: 46.5em) {
    .wrapper {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%;
      margin-left: 25.5894128995%; }
      .wrapper:last-child {
        margin-right: 0; } }

body {
  background-color: #fff; }
  body .body__wrapper {
    background-color: #F7F9FA;
    margin: 1em; }
    @media screen and (min-width: 46.5em) {
      body .body__wrapper {
        margin: 1.333em; } }

.header {
  position: relative;
  height: 60px;
  background-color: #3B86A3; }
  .home .header {
    background-image: url(../../img/transparent-square-tiles.png); }
  .single-ueberuns .header,
  .single-aktivitaet .header,
  .single-thema .header,
  .page-template-content-unterstuetzung .header {
    background-color: #CF5D55; }
  @media screen and (min-width: 30em) {
    .header {
      height: 100px; } }
  @media screen and (min-width: 46.5em) {
    .header {
      height: 0; } }
  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -0.7501875469em;
    width: 100px;
    height: 50px;
    background: url(../../img/svg/wide_switzerland_deflogo_white.svg) no-repeat center;
    background-size: contain; }
    @media screen and (min-width: 30em) {
      .header__logo {
        height: 100px;
        width: 200px; } }
    @media screen and (min-width: 46.5em) {
      .header__logo {
        background: url(../../img/svg/wide_switzerland_deflogo.svg) no-repeat center;
        background-size: contain;
        height: 110px;
        width: 220px; }
        .home .header__logo {
          background: url(../../img/svg/wide_switzerland_deflogo_white.svg) no-repeat center;
          background-size: contain; } }

.nav {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10; }
  @media screen and (min-width: 46.5em) {
    .nav {
      left: -1.333em;
      padding-top: 15%;
      width: auto; }
      .nav.fixed {
        position: fixed;
        left: 0;
        padding-top: 0; } }
  .nav__menu-button {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: 5px;
    padding-top: 24px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    background-color: transparent;
    color: #F7F9FA;
    text-transform: uppercase;
    font-family: "sofia-pro", sans-serif;
    font-weight: 600;
    font-size: 0.7501875469em;
    line-height: 1;
    text-align: center; }
    @media screen and (min-width: 30em) {
      .nav__menu-button {
        padding-top: 40px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        margin-top: -34px; } }
    .nav__menu-button:before {
      content: "";
      position: absolute;
      display: block;
      top: 8px;
      height: 2px;
      width: -webkit-calc(100% - 12px);
      width: calc(100% - 12px);
      background: #F7F9FA;
      transition: all 0.1s ease-out; }
      @media screen and (min-width: 30em) {
        .nav__menu-button:before {
          width: -webkit-calc(100% - 30px);
          width: calc(100% - 30px);
          top: 20px;
          height: 4px; } }
    .nav__menu-button:after {
      content: "";
      position: absolute;
      display: block;
      top: 16px;
      height: 2px;
      width: -webkit-calc(100% - 12px);
      width: calc(100% - 12px);
      background: #F7F9FA;
      transition: all 0.1s ease-out; }
      @media screen and (min-width: 30em) {
        .nav__menu-button:after {
          width: -webkit-calc(100% - 30px);
          width: calc(100% - 30px);
          top: 30px;
          height: 4px; } }
    .nav__menu-button.close:before {
      transform: rotate(45deg);
      top: 12px;
      left: 12px;
      width: 20px; }
      @media screen and (min-width: 30em) {
        .nav__menu-button.close:before {
          top: 20px;
          left: 20px;
          width: 25px; } }
    .nav__menu-button.close:after {
      transform: rotate(-45deg);
      top: 12px;
      left: 12px;
      width: 20px; }
      @media screen and (min-width: 30em) {
        .nav__menu-button.close:after {
          top: 20px;
          left: 20px;
          width: 25px; } }
    @media screen and (min-width: 46.5em) {
      .nav__menu-button {
        display: none; } }
  .nav__list {
    list-style: none;
    clear: both;
    display: none;
    overflow: visible;
    padding: 0;
    margin-top: 60px;
    width: 100%; }
    @media screen and (min-width: 30em) {
      .nav__list {
        margin-top: 100px; } }
    @media screen and (min-width: 46.5em) {
      .nav__list {
        margin-top: 0;
        display: block;
        margin: 0;
        padding: 0; } }
  .nav__menu-item {
    width: 100%; }
    @media screen and (min-width: 46.5em) {
      .nav__menu-item {
        min-width: 180px; } }
    @media screen and (min-width: 74em) {
      .nav__menu-item {
        min-width: 220px; } }
    .nav__menu-item a {
      display: block;
      width: 100%;
      padding-top: 0.7501875469em;
      padding-bottom: 0.7501875469em;
      padding-right: 1em;
      padding-left: 10px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "sofia-pro", sans-serif;
      line-height: 1;
      background: rgba(86, 91, 95, 0.95);
      color: #F7F9FA;
      transition: all 0.1s ease-out; }
      @media screen and (min-width: 30em) {
        .nav__menu-item a {
          padding-left: 20px; } }
      @media screen and (min-width: 46.5em) {
        .nav__menu-item a {
          display: inline-block;
          min-width: 180px;
          margin-bottom: 8px;
          padding-left: 1.776889em;
          background-color: #E8EBED;
          color: #565B5F; } }
      @media screen and (min-width: 74em) {
        .nav__menu-item a {
          min-width: 220px; } }
      .nav__menu-item a:active, .nav__menu-item a:focus, .nav__menu-item a:hover {
        background-color: #393D40;
        color: #fff; }
        @media screen and (min-width: 46.5em) {
          .nav__menu-item a:active, .nav__menu-item a:focus, .nav__menu-item a:hover {
            background-color: #E8EBED;
            color: #393D40; } }
    @media screen and (min-width: 46.5em) {
      .nav__menu-item > a:active, .nav__menu-item > a:focus, .nav__menu-item > a:hover {
        width: 110%; } }
    .nav__menu-item--more {
      left: 0;
      position: relative;
      transition: all 0.2s ease-out;
      position: relative; }
      .nav__menu-item--more > a:after {
        content: url(../../img/svg/inline-arrow-down-light.svg);
        position: absolute;
        margin-left: 0.5627813555em;
        width: 0.5627813555em;
        height: 0.5627813555em;
        transition: all 0.1s ease-out; }
        @media screen and (min-width: 46.5em) {
          .nav__menu-item--more > a:after {
            content: url(../../img/svg/inline-arrow-down.svg);
            bottom: 50%; } }
      @media screen and (min-width: 46.5em) {
        .nav__menu-item--more > a:hover:after {
          bottom: 45%; } }
      .nav__menu-item--more:focus > .nav__submenu,
      .nav__menu-item--more:hover > .nav__submenu {
        display: block; }
      .nav__menu-item--more.current-menu-item .nav__submenu {
        display: block; }
      .nav__menu-item--more.current-menu-item a {
        padding: 0.5627813555em;
        padding-right: 1.333em;
        padding-left: 2.368593037em; }
      .nav__menu-item--more.current-menu-item > a {
        padding-left: 1.776889em; }
        .nav__menu-item--more.current-menu-item > a:after {
          content: url(../../img/svg/inline-arrow-down-light.svg);
          display: inline-block;
          width: 0.5627813555em;
          height: 0.5627813555em;
          margin-left: 0.5627813555em; }
  .nav__submenu {
    display: none;
    margin: 0;
    padding-left: 0; }
    @media screen and (min-width: 46.5em) {
      .nav__submenu {
        margin-top: -9px; } }
    .nav__submenu li {
      display: block;
      padding-right: 0;
      margin: -1px 0; }
      @media screen and (min-width: 46.5em) {
        .nav__submenu li {
          min-width: calc(220px - 1.333em); } }
      .nav__submenu li.nav__menu-item--more > a {
        padding-left: 2.368593037em; }
    .nav__submenu a {
      display: inline-block;
      width: 100%;
      font-size: 85%;
      font-weight: 600;
      margin-bottom: 0;
      padding: 0.5627813555em;
      padding-right: 1.333em;
      padding-left: 2.368593037em; }
      @media screen and (min-width: 46.5em) {
        .nav__submenu a {
          background-color: #f1f2f4;
          color: #697074; } }
    @media screen and (min-width: 46.5em) {
      .nav__submenu:last-child {
        margin-bottom: 8px; } }
    .nav__submenu .nav__submenu {
      margin-top: 0; }
      .nav__submenu .nav__submenu a {
        font-size: 75%;
        padding-left: 3.1573345183em; }
        @media screen and (min-width: 46.5em) {
          .nav__submenu .nav__submenu a {
            background-color: #f9fafa;
            color: #6e757a; }
            .nav__submenu .nav__submenu a:hover {
              background-color: #E8EBED;
              color: #393D40; } }

.current-menu-item > a {
  pointer-events: none; }

.current-menu-item > a {
  background-color: #565B5F;
  color: #F7F9FA; }

.current-menu-ancestor > .nav__submenu {
  display: block; }

.language {
  list-style: none;
  position: absolute;
  z-index: 10;
  padding-left: 0;
  right: 11px;
  top: 50%;
  margin-top: -14px; }
  @media screen and (min-width: 30em) {
    .language {
      right: 20px;
      margin-top: -15px; } }
  @media screen and (min-width: 46.5em) {
    .language {
      display: inline-block;
      padding-top: 15%;
      top: 0;
      right: 0;
      margin: 0; }
      .language.fixed {
        position: fixed;
        right: 1.333em;
        padding-top: 1em; } }
  .language .current-lang a {
    color: #F7F9FA;
    background-color: #565B5F;
    border-color: #565B5F;
    transition: all 0.2s ease-out;
    pointer-events: none; }
    .language .current-lang a:active, .language .current-lang a:focus, .language .current-lang a:hover {
      color: #565B5F;
      background-color: #F7F9FA; }
  .language .lang-item {
    display: inline-block; }
    @media screen and (min-width: 46.5em) {
      .language .lang-item {
        display: block; } }
  .language a {
    padding: 6px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "sofia-pro", sans-serif;
    font-size: 0.7501875469em;
    color: #565B5F;
    background-color: #F7F9FA;
    transition: all 0.4s ease-out; }
    @media screen and (min-width: 46.5em) {
      .language a {
        font-size: 1em;
        margin-bottom: 8px;
        padding: 0.7501875469em;
        line-height: 1;
        background-color: #E8EBED; } }
    .language a:active, .language a:focus, .language a:hover {
      color: #F7F9FA;
      background-color: #565B5F;
      border-color: #565B5F; }

.main {
  padding-top: 20%; }
  .home .main {
    padding-top: 0; }

.footer {
  margin-top: 4.2087269129em;
  font-family: "sofia-pro", sans-serif;
  background-color: #565B5F;
  color: #F7F9FA; }
  .footer__support {
    background-color: #3B86A3;
    padding-top: 4.2087269129em;
    padding-bottom: 4.2087269129em; }
  .footer__newsletter {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 100%;
    border: solid 4px #e7f2f6;
    margin-bottom: 1.776889em;
    padding-top: 1.776889em;
    padding-bottom: 1.776889em;
    position: relative; }
    .footer__newsletter:last-child {
      margin-right: 0; }
    .footer__newsletter:before {
      content: "Newsletter abonnieren";
      position: absolute;
      left: 0.5627813555em;
      top: -10%;
      padding: 0 0.237601541em;
      font-family: "sofia-pro", sans-serif;
      font-weight: 700;
      font-size: 1.333em;
      background: #3B86A3;
      color: #e7f2f6; }
      @media screen and (min-width: 37.5em) {
        .footer__newsletter:before {
          font-size: 1.776889em;
          top: -25%;
          left: 1em;
          padding: 0 1em; } }
      @media screen and (min-width: 46.5em) {
        .footer__newsletter:before {
          left: 1.776889em;
          padding: 0 1.333em; } }
      @media screen and (min-width: 74em) {
        .footer__newsletter:before {
          left: 2.368593037em;
          padding: 0 1.776889em; } }
  .footer__input[type=email] {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 74.1053340983%;
    margin-left: 12.9473329508%;
    background-color: #e7f2f6;
    border: solid 3px #e7f2f6;
    margin-bottom: 0; }
    .footer__input[type=email]:last-child {
      margin-right: 0; }
    @media screen and (min-width: 37.5em) {
      .footer__input[type=email] {
        float: left;
        display: block;
        margin-right: 3.5786636068%;
        width: 35.2633352458%;
        margin-left: 12.9473329508%; }
        .footer__input[type=email]:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 74em) {
      .footer__input[type=email] {
        float: left;
        display: block;
        margin-right: 3.5786636068%;
        width: 48.2106681966%;
        margin-left: 12.9473329508%; }
        .footer__input[type=email]:last-child {
          margin-right: 0; } }
    .footer__input[type=email]:hover {
      border-color: #c1dee9; }
    .footer__input[type=email]:focus {
      border-color: #3B86A3;
      outline: none; }
  .footer__submit[type=submit] {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 74.1053340983%;
    margin-left: 12.9473329508%;
    margin-top: 1.333em;
    border-color: #e7f2f6;
    color: #e7f2f6;
    transition: all 0.1s ease-out; }
    .footer__submit[type=submit]:last-child {
      margin-right: 0; }
    @media screen and (min-width: 37.5em) {
      .footer__submit[type=submit] {
        width: auto;
        margin: 0; } }
    .footer__submit[type=submit]:active, .footer__submit[type=submit]:focus, .footer__submit[type=submit]:hover {
      background-color: #e7f2f6;
      color: #565B5F; }
  .footer__support-button {
    width: 100%;
    margin-top: 1.333em;
    text-align: center;
    border: 3px solid #e7f2f6;
    color: #e7f2f6; }
    @media screen and (min-width: 30em) {
      .footer__support-button {
        width: 45%;
        margin-top: 0; } }
    .footer__support-button:active, .footer__support-button:focus, .footer__support-button:hover {
      background-color: #e7f2f6;
      color: #565B5F; }
    .footer__support-button:last-child {
      float: right; }
  .footer__info {
    padding: 1.776889em 0; }
    @media screen and (min-width: 37.5em) {
      .footer__info {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; } }
  .footer__copyright {
    margin: 0;
    font-size: 85%; }
    @media screen and (min-width: 37.5em) {
      .footer__copyright {
        -webkit-flex-grow: 2;
        -moz-flex-grow: 2;
        flex-grow: 2;
        -ms-flex-positive: 2; } }
  .footer__impressum {
    text-transform: uppercase;
    font-weight: 700; }
    .footer__impressum a {
      color: #F7F9FA; }
  .footer__address {
    margin: 0; }
  .single-ueberuns .footer__support,
  .single-aktivitaet .footer__support,
  .single-thema .footer__support,
  .page-template-content-unterstuetzung .footer__support {
    background-color: #CF5D55; }
  .single-ueberuns .footer__newsletter,
  .single-aktivitaet .footer__newsletter,
  .single-thema .footer__newsletter,
  .page-template-content-unterstuetzung .footer__newsletter {
    border-color: #f9e9e8; }
    .single-ueberuns .footer__newsletter:before,
    .single-aktivitaet .footer__newsletter:before,
    .single-thema .footer__newsletter:before,
    .page-template-content-unterstuetzung .footer__newsletter:before {
      background-color: #CF5D55;
      color: #f9e9e8; }
  .single-ueberuns .footer__input[type=email],
  .single-aktivitaet .footer__input[type=email],
  .single-thema .footer__input[type=email],
  .page-template-content-unterstuetzung .footer__input[type=email] {
    background-color: #f9e9e8;
    border-color: #f9e9e8; }
    .single-ueberuns .footer__input[type=email]:hover,
    .single-aktivitaet .footer__input[type=email]:hover,
    .single-thema .footer__input[type=email]:hover,
    .page-template-content-unterstuetzung .footer__input[type=email]:hover {
      border-color: #edc3c0; }
    .single-ueberuns .footer__input[type=email]:focus,
    .single-aktivitaet .footer__input[type=email]:focus,
    .single-thema .footer__input[type=email]:focus,
    .page-template-content-unterstuetzung .footer__input[type=email]:focus {
      border-color: #CF5D55; }
  .single-ueberuns .footer__submit[type=submit],
  .single-aktivitaet .footer__submit[type=submit],
  .single-thema .footer__submit[type=submit],
  .page-template-content-unterstuetzung .footer__submit[type=submit] {
    border-color: #f9e9e8;
    color: #f9e9e8; }
    .single-ueberuns .footer__submit[type=submit]:active, .single-ueberuns .footer__submit[type=submit]:focus, .single-ueberuns .footer__submit[type=submit]:hover,
    .single-aktivitaet .footer__submit[type=submit]:active,
    .single-aktivitaet .footer__submit[type=submit]:focus,
    .single-aktivitaet .footer__submit[type=submit]:hover,
    .single-thema .footer__submit[type=submit]:active,
    .single-thema .footer__submit[type=submit]:focus,
    .single-thema .footer__submit[type=submit]:hover,
    .page-template-content-unterstuetzung .footer__submit[type=submit]:active,
    .page-template-content-unterstuetzung .footer__submit[type=submit]:focus,
    .page-template-content-unterstuetzung .footer__submit[type=submit]:hover {
      background-color: #f9e9e8;
      color: #565B5F; }
  .single-ueberuns .footer__support-button,
  .single-aktivitaet .footer__support-button,
  .single-thema .footer__support-button,
  .page-template-content-unterstuetzung .footer__support-button {
    border-color: #f9e9e8;
    color: #f9e9e8; }
    .single-ueberuns .footer__support-button:active, .single-ueberuns .footer__support-button:focus, .single-ueberuns .footer__support-button:hover,
    .single-aktivitaet .footer__support-button:active,
    .single-aktivitaet .footer__support-button:focus,
    .single-aktivitaet .footer__support-button:hover,
    .single-thema .footer__support-button:active,
    .single-thema .footer__support-button:focus,
    .single-thema .footer__support-button:hover,
    .page-template-content-unterstuetzung .footer__support-button:active,
    .page-template-content-unterstuetzung .footer__support-button:focus,
    .page-template-content-unterstuetzung .footer__support-button:hover {
      background-color: #f9e9e8;
      color: #565B5F; }

.intro {
  background-color: #3B86A3;
  background-image: url(../../img/transparent-square-tiles.png);
  color: #F7F9FA;
  margin-bottom: 2.368593037em;
  padding-top: 40px;
  padding-bottom: 40px; }
  @media screen and (min-width: 46.5em) {
    .intro {
      padding-top: 20%;
      padding-bottom: 4.2087269129em;
      height: calc(100vh - (4*1em)); } }
  .intro__content {
    font-family: "sofia-pro", sans-serif;
    font-size: 1em;
    text-align: center; }
    @media screen and (min-width: 46.5em) {
      .intro__content {
        font-size: 1.333em;
        line-height: 1.7em; } }
  .intro__title {
    display: inline;
    margin: 0;
    font-size: 1.776889em;
    line-height: 1;
    position: relative; }
    .intro__title:after {
      content: "";
      position: absolute;
      width: 70%;
      height: 2px;
      left: 0;
      bottom: 1px;
      background-color: #CCCC23; }
    @media screen and (min-width: 46.5em) {
      .intro__title {
        font-size: 2.368593037em;
        position: relative; }
        .intro__title:after {
          content: "";
          position: absolute;
          width: 70%;
          height: 4px;
          left: 0;
          bottom: 4px;
          background-color: #CCCC23; }
        .intro__title:after {
          left: 0.7501875469em; } }
  .intro p {
    display: inline; }

.news__item {
  position: relative;
  margin-bottom: 4.2087269129em; }
  .news__item:before {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 0;
    left: -0.5627813555em;
    bottom: 0;
    background-color: #CCCC23; }
    @media screen and (min-width: 30em) {
      .news__item:before {
        width: 4px; } }
    @media screen and (min-width: 46.5em) {
      .news__item:before {
        left: -1em;
        width: 6px; } }
  .news__item--animation:before {
    animation: fadein 0.3s forwards ease-out; }

.news__title {
  display: inline-block;
  position: relative; }
  .news__title:after {
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    left: 0;
    bottom: -5px;
    background-color: #565B5F; }
  @media screen and (min-width: 46.5em) {
    .news__title {
      position: relative; }
      .news__title:after {
        content: "";
        position: absolute;
        width: 70%;
        height: 3px;
        left: 0;
        bottom: -7px;
        background-color: #565B5F; } }

.news__category {
  color: #CCCC23;
  position: absolute;
  left: -0.7501875469em;
  bottom: -0.7501875469em;
  text-transform: uppercase;
  font-size: 0.7501875469em; }
  @media screen and (min-width: 46.5em) {
    .news__category {
      left: -1.776889em; } }

@keyframes fadein {
  0% {
    height: 0;
    opacity: 0; }
  100% {
    height: 100%;
    opacity: 1; } }

.menu-page__list {
  width: 100%;
  padding-left: 0; }
  @media screen and (min-width: 30em) {
    .menu-page__list {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 61.1580011475%;
      padding-left: 0;
      list-style-type: none; }
      .menu-page__list:last-child {
        margin-right: 0; } }

.menu-page__link {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 2;
  color: #e7f2f6;
  font-family: "sofia-pro", sans-serif;
  font-weight: 500;
  margin: 1.333em 0;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .menu-page__link:first-child {
    margin-top: 0; }

.menu-page__item {
  position: relative;
  display: block;
  background-color: #3B86A3;
  padding: 1.333em;
  font-size: 1.333em;
  transition: transform 0.2s ease-out; }
  .menu-page__item:active, .menu-page__item:focus, .menu-page__item:hover {
    background-color: #3f8fae;
    transform: translateX(0.237601541em) translateY(-0.237601541em); }
    .menu-page__item:active svg, .menu-page__item:focus svg, .menu-page__item:hover svg {
      transform: translateX(0.5627813555em); }
  .menu-page__item--shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #565B5F; }

.menu-page__arrow svg {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 1.333em;
  transition: transform 0.2s; }

.gallery {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .gallery__item {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin: 0;
    background-color: #fff;
    margin-top: 1.333em; }
    .gallery__item:last-child {
      margin-right: 0; }
    @media screen and (min-width: 46.5em) {
      .gallery__item {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; }
        .gallery__item:last-child {
          margin-right: 0; }
        .gallery__item:nth-child(2n) {
          margin-right: 0; }
        .gallery__item:nth-child(2n+1) {
          clear: left; } }
    @media screen and (min-width: 74em) {
      .gallery__item {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; }
        .gallery__item:nth-child(2n) {
          margin-right: 2.3576515979%; }
        .gallery__item:nth-child(2n+1) {
          clear: none; }
        .gallery__item:last-child {
          margin-right: 0; }
        .gallery__item:nth-child(3n) {
          margin-right: 0; }
        .gallery__item:nth-child(3n+1) {
          clear: left; } }
  .gallery__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: grayscale(30%); }
  .gallery__text {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    flex-grow: 2;
    -ms-flex-positive: 2;
    padding: 0.7501875469em 0.7501875469em 1.333em 0.7501875469em; }
  .gallery__caption {
    margin: 1em 0;
    font-family: "sofia-pro", sans-serif;
    font-weight: 700;
    font-size: 0.7501875469em; }
  .gallery__paragraph {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }

.article:first-letter {
  color: #CF5D55;
  font-size: 3.1573345183em;
  font-weight: 400;
  float: left;
  line-height: 75%;
  margin: .04em .12em 0 0; }

.article p:first-child {
  margin: 0; }

.article img {
  margin-top: 1em;
  margin-bottom: 1em;
  height: auto;
  filter: grayscale(30%); }

.article img.alignnone {
  display: block; }

.article img.alignleft {
  float: left;
  margin-right: 1.776889em; }

.article img.alignright {
  float: right;
  margin-left: 1.776889em; }

.article img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.article h2 {
  display: inline-block;
  position: relative;
  margin-top: 0.7501875469em; }
  .article h2:after {
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    left: 0;
    bottom: -3px;
    background-color: #565B5F; }

.article h3 {
  margin-top: 0.7501875469em; }

.support__title {
  display: inline-block;
  position: relative; }
  .support__title:after {
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    left: 0;
    bottom: -1px;
    background-color: #565B5F; }

.support h3 {
  margin-bottom: 0; }

.support__form {
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 61.1580011475%; }
  .support__form:last-child {
    margin-right: 0; }

.support__address {
  position: relative; }
  .support__address label {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    transform: translateY(0);
    overflow: hidden;
    padding-top: 0.7501875469em;
    padding-left: 1.776889em;
    pointer-events: none;
    margin: 0; }
    .support__address label.support__label {
      animation: move-label 0.2s forwards; }
  .support__address input {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 2.368593037em;
    background: transparent;
    border: 2px solid;
    color: #565B5F;
    transition: border-color 0.25s; }
    .support__address input.input__focused {
      border-color: #CF5D55; }

.support input[type=submit] {
  width: 100%;
  background-color: #CF5D55;
  color: #F7F9FA;
  margin-top: 1.776889em;
  transition: all 0.1s ease-out; }
  .support input[type=submit]:hover, .support input[type=submit]:focus, .support input[type=submit]:active {
    background-color: #c94a41;
    border-color: #c94a41; }

@keyframes move-label {
  0% {
    transform: translateY(0);
    color: #565B5F; }
  50% {
    transform: translateY(-50%);
    opacity: 0; }
  100% {
    transform: translateY(-2.368593037em);
    opacity: 1;
    padding-left: 0;
    color: #CF5D55;
    font-weight: 700; } }

.rotated-text {
  transform-origin: left bottom;
  transform: rotate(-90deg); }

.heading-underline {
  display: inline-block;
  position: relative; }
  .heading-underline:after {
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    left: 0;
    bottom: -1px;
    background-color: #565B5F; }

/*# sourceMappingURL=main.css.map */